.documents-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
  font-family: 'Inter';
}

.document-card {
  background: #fff;
  border: 1px solid #9e9d9f80;
  border-color: rgba(158, 157, 159, 0.5);
  border-radius: 12px;
  padding: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 0;
}

.card-row:last-child {
  border-bottom: none;
}

.card-label {
  font-family: 'Inter';
  font-size: 10px;
  font-weight: 600;
  line-height: 20px;
  color: #565454;
  text-transform: uppercase;
  letter-spacing: 0;
  flex: 0 0 30%;
}
.card-label-long {
  flex: 0 0 60%;
}

.card-name-value {
  font-size: 14px;
  color: #141414;
  text-align: right;
  line-height: 150%;
  flex: 1;
  font-weight: 500;
}
.card-value {
  font-size: 14px;
  color: #141414;
  text-align: right;
  line-height: 150%;
  flex: 1;
  font-weight: 400;
}
.card-value-yes {
  font-size: 12px;
  color: #13131b;
  text-align: right;
  line-height: 130%;
  flex: 1;
  font-weight: 400;
}

@media (max-width: 420px) {
  .hide {
    display: none;
  }
}

@media (min-width: 421px) {
  .documents-cards {
    display: none;
  }
}
